.retailers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 98%;
  margin: 10px;
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top_bar {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top_bar h2{
  min-width: 40%;
}

.retailer_search {
  min-width: 50%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.169);
  border-radius: 10px;
  padding-left: 10px;
}

.retailers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: auto;
  gap: 10px;
  width: 100%;
  margin: 10px 0px;
}

.card {
  color: rgba(20, 20, 20, 0.075);
  width: 180px;
  height: auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap:10px;
  margin:0px 20px;
}

.retailers .title {
  color: rgb(20, 20, 20);
  font-size: medium;
  font-weight: 700;
  text-transform: capitalize;
}

.image_container {
  max-height: 50%;
  border-radius: 50%;
  object-fit: cover;
}

.image {
  width: 200px;
  height: 100%;
}

@media screen and (max-width:444px) {
  .retailers {
    margin: 10px 0px;
  }

.top_bar h2{
  min-width: 40%;
  font-size: smaller;
}

  .retailer_search {
    max-width: 60%;
    height: 40px;
  }
  .card {
    width: 120px;
    height: 150px;
  }

  .retailer_search {
    width: 100%;
    height: 40px;
  }

  img {
    width: 160px;
    height: 100px;
  }

  .retailers .title {
    font-size: small;
  }
}

@media screen and (max-width:790px) {
  .retailers {
    margin: 10px 0px;
  }
.top_bar h2{
  min-width: 40%;
  font-size: medium;
}
  .retailer_search {
    max-width: 50%;
    height: 40px;
  }

  .card {
    width: 120px;
    height: 150px;
    margin: 0px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
  }

.image_container {
  margin-top:0px;
  margin-bottom: 2px;
  border-radius: 50%;
  object-fit: cover;
  height:70%;
  width:100%;
}

.image {
  width: 100%;
  height: 100%;
}

  .retailers .title {
    font-size: small;
  }
}