.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  padding: 30px 10px;
  gap: 5px;
  width: 98%;
  max-height:auto;
  margin: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-bottom: 20px;
}

.products-search-retailer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:10px;
  min-width: 100%;
  padding:0px 10px 5px 10px;
  border-radius:10px;
  font-size: small;
}

.products-search-retailer input{
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.169);
  border-radius: 10px;
  padding-left: 10px;
  width: 50%;
}


.products-search{
  background-color: #0c0c0ce0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:10px;
  min-width: 100%;
  padding:10px 10px;
  position: sticky;
  top: 70px; /* height of navbar */
  z-index: 100;
  border: 2px solid rgb(218, 218, 218);
  border-radius:10px;
}


.products-search input{
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.169);
  border-radius: 10px;
  padding-left: 10px;
  width: 90%;
}

.sidebar{
  max-width: 15%;
  max-height: auto;
  margin: 2px;
  border-radius: 10px;
  padding: 20px 16px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.614);
  display: flex;
  background-color: #0f0f0f;
  flex-direction: column;
  gap: 20px;
  border:2px solid white;
}

.sidebar h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.fields{
  display: flex;
  flex-direction: column;
  gap:20px;
}

/* Filter groups */
.filter-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filter-group label {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ffffff;
}

/* Select input */
.filter-group select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #0000000a;
  background-color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.filter-group select:hover{
  background-color: #313131;
   color: white;
}

.filter-group select:focus {
  border: 1px solid #ffffff;
  box-shadow: 0 0 0 2px rgba(109,40,217,0.15);
}

.products {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  height:auto;
  max-height:200vh;
  overflow-y: auto;
  overflow-x: auto;
  padding: 20px 10px;
}

/* From Uiverse.io by MuhammadHasann */
.product_card {
  --bg-card: #27272a;
  --primary: #6d28d9;
  --primary-800: #4c1d95;
  --primary-shadow: #2e1065;
  --light: #d9d9d9;
  --zinc-800: #18181b;
  --card-highlight: #f5eafc;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: .4rem;
  width: 12rem;
  height: 18rem;
  background-color: #27272a;
  border-radius: 1rem;
  transition: 
    box-shadow 0.2s ease,
    transform 0.2s ease,
    background-color 0.2s ease;
}

.product_card:hover {
  background-color: #0f0f0f;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  transform: translateY(-4px);
}

.product_image_container {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 12rem;
  background-color: var(--light);
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.product_image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
  fill: var(--light);
}

.product_title {
  overflow: clip;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.product_price {
  font-size: 1rem;
  font-weight: 700;
  color: var(--light);
}

.product_action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  padding: 1px 2px;
}

.product_cart-button {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  padding: 0.5rem;
  width: 50%;
  background-image: var(--bg-linear);

  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
  text-wrap: nowrap;

  border: 2px solid hsla(262, 83%, 58%, 0.5);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px var(--light);
}

.product_cart-button .product_cart-icon {
  width: 1rem;
}

@media screen and (max-width:425px) {

  .products-search{
  top: 80px; /* height of navbar */
}
  .products-container {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 3px;
  max-height:auto;
}

  .products {
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  .product_card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    min-width: 9rem;
    padding: .3rem .3rem .5rem .3rem;
  }

  .product_action {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .product_title {
    font-size: .7rem;
  }

  .product_price {
    font-size: .7rem;
    font-weight: 600;
    color: var(--light);
  }

  .product_cart-button {
    cursor: pointer;
    max-width: 100%;
  }

  .product_image_container {
    height: 10rem;
  }

}

@media screen and (max-width:484px) {

  .products-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 3px;
  max-height:auto;
}

  .sidebar{
    min-width:95%;
    max-height:130px;
    flex-direction: row;
    gap:2px;
    margin-right: 2px;
  }

  .products {
    justify-content: center;
    align-items: flex-start;
    overflow:auto;
    width: 100%;
  }

  .product_card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    min-width: 9rem;
    padding: .3rem .3rem .5rem .3rem;
  }

  .product_action {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .product_title {
    font-size: .7rem;
  }

  .product_price {
    font-size: .7rem;
    font-weight: 600;
    color: var(--light);
  }

  .product_cart-button {
    cursor: pointer;
    max-width: 100%;
  }

  .product_image_container {
    height: 10rem;
  }

}

@media screen and (max-width:1024px) {

.products {
  width: 100%;
}

  .products-container{
    flex-direction: column;
  }

  .sidebar{
    min-width:100%;
    max-height:130px;
    flex-direction: row;
    gap:2px;
    margin-right: 2px;
  }

.fields{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
/* Filter groups */
.filter-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.filter-group label {
  margin-top: 8px;
  font-size: 0.65rem;
  font-weight: 600;
}

/* Select input */
.filter-group select {
  padding: 4px 8x;
  font-size: 0.8rem;
  width:90%;
  height:35px;
  text-align: center;
  margin: 4px 0px;
}


  .product_card {
    padding: .3rem;
    flex-direction: column;
    height: 250px;
    width: 9rem;
  }

  .product_action {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .product_title {
    font-size: .7rem;
  }

  .product_cart-button {
    cursor: pointer;
    width: 100%;
  }

  .product_price {
    font-size: .9rem;
    font-weight: 600;
  }
}