.main {
    width: 100%;
    text-align: left;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 5px;
    margin-bottom: 100px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.details {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    padding: 0px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:10px 10px;
    background-color: rgb(35, 35, 35);
    border-radius: 10px;
}

.image_div {
    margin: 0px 0px;
    margin-left: 0px;
    width: 220px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-color: antiquewhite;
    border: 2px solid rgba(0, 0, 0, 0.607);
}

.image_div .image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

 .main-details {
    font-size: x-large;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right:20px;
}

.address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    padding:20px 40px;
    margin:20px 10px;
}

.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:10px;
}

.address h3 {
    font-size: xx-large;
    font-weight: 600;
    color: rgb(1, 1, 1);
}

.address p {
    font-size: large;
    font-weight: 400;
    color: rgb(3, 2, 92);
}



@media screen and (max-width:1100px) {
    .details {
        justify-content: space-between;
        align-items: center;
        height:200px;
    }

    .image_div {
        margin: -4px 0px;
    }
    .main-details {
        font-size: medium;
        margin: 10px;
    }

    .address h3 {
        font-size: medium;
    }

    .address p {
        font-size: small;
    }

}

@media screen and (max-width:780px) {
    .details {
        justify-content: space-between;
        align-items: center;
        height:170px;
    }

    .image_div{
        max-width: 180px;
    }

    .main-details {
        font-size: small;
    }

    .address h3 {
        font-size: large;
    }

    .address p {
        font-size: medium;
    }

}

@media screen and (max-width:600px) {
    .details {
        justify-content: space-between;
        align-items: center;
        height:150px;
    }

    .image_div {
        max-width: 150px;
    }

    .main-details {
        font-size: small;
        margin: 10px;
        text-align: left;
    }

    
    .address h3 {
        font-size: medium;
    }

    .address p {
        font-size: medium;
    }

}


@media screen and (max-width:484px) {

    .container1 h1{
        margin: 5px 20px;
    }
    .details {
        max-height: 120px;
        align-items: center;
    }

    .image_div {
        max-width: 120px;
    }

    .main-details {
        font-size: xx-small;
        text-align: right;
    }

    .address {
        gap:20px;
        padding-left: 5px;
        padding-right: 5px;
        margin:10px 5px;
    }

    .address h3 {
        font-size: medium;
    }

    .address p {
        font-size: small;
    }


}