/* ================= RETAILER SIDEBAR ================= */

.retailer-sidebar {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #101010, #000000);
  color: #d1d5db;
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  font-family: "Inter", sans-serif;
}

/* Logo */
.retailer-sidebar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin: 10px 10px 44px -10px;

}

.retailer-logo-icon {
  margin-left: 20px;
  width: 100%;
  height: 80px;
  background: transparent;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Menu */
.retailer-menu {
  flex: 1;
}

.retailer-menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #cbd5e1;
  margin-bottom: 6px;
}

.retailer-menu-item:hover {
  background-color: #0f2a44;
}

.retailer-menu-icon {
  width: 20px;
  text-align: center;
}

/* Footer */
.retailer-sidebar-footer {
  border-top: 1px solid #1e293b;
  padding-top: 12px;
}

.retailer-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  padding: 8px 10px;
}

/* Logout */
.retailer-logout {
  margin-top: 10px;
  padding: 10px;
  background: #ab0202;
  color: white;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 700;
}

.retailer-logout:hover {
  background: #64748b;
}

/* ================= RESPONSIVE ================= */

@media screen and (max-width: 1440px) {
  .retailer-logo-icon {
    width: 100%;
    height: 60px;
  }
  .retailer-sidebar-logo{
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 480px) {
  .retailer-sidebar {
    height: 45vh;
  }
  .retailer-sidebar-logo{
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
}
