.promo-banner {
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #8430f1 0%, #8430f1 60%, #8430f1 100%);
    color: #fff;
    text-align: start;
    margin: 0px 0px 40px 0px;
    padding: 0px 10px;
    border-radius: 0px;
    border: 1px solid #1413141c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    box-shadow: 0 8px 20px rgba(34, 34, 34, 0.518);
}

.promo-banner img {
    width: 100px;
    margin: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    margin-right: 0px;
    width: 15%;
}

.buttons button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.6rem;
    width: 35%;
    font-size: 0.75rem;
    font-weight: 500;
    color: #d9d9d9;
    text-wrap: nowrap;
    font-weight: 700;
    border-radius: .4rem;
    box-shadow: inset 0 0 0.25rem 1px #d9d9d9;
    background-color: rgba(0, 0, 0, 0);
    transition: .2s;

}

.buttons button:hover{
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1024px) {

    .buttons {
        justify-content: flex-end;
        width: 100%;
        gap:5px;
    }

    .buttons button {
        width: 10%;
    }

    .promo-banner {
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 0px 20px;
    }

    .promo-banner img {
        width: 100px;
        height: 50px;
        margin: 0px 0px 0px 0px;
    }
}


@media screen and (max-width: 790px) {

    .buttons {
        justify-content: flex-end;
        width: 100%;
    }

    .buttons button {
        width: 20%;
    }

    .promo-banner {
        justify-content: space-between;;
        margin-bottom: 20px;
        padding: 0px 20px;
    }

    .promo-banner img {
        margin: 0px 0px 0px 0px;
    }
}

@media screen and (max-width: 444px) {
    .buttons {
        margin: 20px 0px;
        justify-content: flex-end;
        min-width: 50%;
    }
    .promo-banner {
        justify-content: space-between;
        width:100%;
    }

    .buttons button {
        width: 30%;
    }

    .promo-banner img {
        width: 110px;
        height: 50px;
        margin: 10px 0px 0px 0px;
    }
}